body{
	background-color: #fff !important;
	color: #43ABC9 !important;
	font-family: arial,helvetica;
	text-align: center !important;
	overflow-x: hidden;
	position: relative;
}

p{
	cursor: default;
}

a:hover{
	text-decoration: none !important;
}

button:focus, a:focus{
	outline: none !important;
}

input:focus, textarea:focus{
	box-shadow: none !important;
}

nav.navbar{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	padding-left: 15vw;
	padding-right: 15vw;
	background-color: rgba(255, 255, 255, .95);
	z-index: 95;
}

.navbar-brand{
	margin: 0;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

div.section{
	display: flex;
	justify-content: center;
	position: relative;
	min-height: 100vh;
	padding: 40px 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

div.section-div{
	align-self: center;
	width: 90vw;
}

div.section#header{
	background-image: radial-gradient(circle, rgba(0, 0, 0, .65), rgba(0, 0, 0, .4), transparent), url(img/header-bg.jpg);
	background-size: 110%;
	background-position: center 0;
}

p#header-h{
	font-size: 100px;
	font-weight: 600;
	line-height: 90px;
	margin: 0;
}

p#header-p{
	font-size: 50px;
	margin: 10px 0 60px;
}

a.header-link{
	margin: 0 30px;
	padding: 12px 30px;
	font-size: 20px;
	border-radius: 10px;
}

div.section#services{
	background-image: linear-gradient(180deg, rgba(0, 0, 0, .8), rgba(0, 0, 0, .6)), url(img/services-bg.jpg);
	background-size: cover;
	background-position: center 0;
}

p#services-h{
	font-size: 70px;
	font-weight: 600;
	margin-bottom: 3vh;
}

div.services-col{
	max-width: 30%;
	flex-basis: 30%;
	padding: 3vh 3vw;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0px 0px 20px 3px rgba(255, 255, 255, .4);
}

div.services-col:nth-of-type(2){
	background-color: #43ABC9;
	color: #fff;
	box-shadow: 0px 0px 20px 3px rgba(67, 171, 201, .4);
}

p.services-name{
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 70px;
	font-size: 25px;
	line-height: 35px;
	font-weight: 600;
}

p.services-description{
	font-size: 17px;
	font-weight: 100;
	line-height: 23px;
	margin-bottom: 17px;
}

div#services-logos-row{
	height: 80px;
	margin-top: 5vh;
	padding: 5px 10px;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0px 0px 20px 3px rgba(255, 255, 255, .4);
}

div.services-logos-col{
	padding: 10px;
}

div.services-logo{
	height: 100%;
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

div.services-logo:hover, div.services-logo:active{
	opacity: 0.8;
}

div.services-logos-col:nth-of-type(1) div.services-logo{
	background-image: url(img/facebook-logo.png);
}

div.services-logos-col:nth-of-type(2) div.services-logo{
	background-image: url(img/linkedin-logo.png);
}

div.services-logos-col:nth-of-type(3) div.services-logo{
	background-image: url(img/twitter-logo.png);
}

div.services-logos-col:nth-of-type(4) div.services-logo{
	background-image: url(img/instagram-logo.png);
}

div.services-logos-col:nth-of-type(5) div.services-logo{
	background-image: url(img/google-adwords-logo.png);
}

div.services-logos-col:nth-of-type(6) div.services-logo{
	background-image: url(img/blogger-logo.png);
}

div.services-logos-col:nth-of-type(7) div.services-logo{
	background-image: url(img/html5-logo.png);
}

div.services-logos-col:nth-of-type(8) div.services-logo{
	background-image: url(img/css3-logo.png);
}

div.services-logos-col:nth-of-type(9) div.services-logo{
	background-image: url(img/js-logo.png);
}

div.services-logos-col:nth-of-type(10) div.services-logo{
	background-image: url(img/jquery-logo.png);
}

div.services-logos-col:nth-of-type(11) div.services-logo{
	background-image: url(img/angularjs-logo.png);
}

div.services-logos-col:nth-of-type(12) div.services-logo{
	background-image: url(img/bootstrap-logo.png);
}

div.section#why{
	background-image: linear-gradient(180deg, rgba(255, 255, 255, .6), rgba(255, 255, 255, .6)), url(img/why-bg.jpg);
	background-size: cover;
	background-position: center;
}

p#why-h{
	font-size: 70px;
	font-weight: 600;
	margin-bottom: 3vh;
}

div.why-col{
	max-width: 30%;
	flex-basis: 30%;
	padding: 5vh 2vw 3vh;
	color: #fff;
	background-color: rgba(67, 171, 201, .9);
	box-shadow: 0px 0px 20px 3px rgba(67, 171, 201, .4);
	border-radius: 10px;
}

div.why-col:nth-of-type(2){
	color: #43ABC9;
	background-color: rgba(255, 255, 255, .9);
	box-shadow: 0px 0px 20px 3px rgba(255, 255, 255, .4);
}

img.why-icon{
	width: 15%;
	margin-bottom: 3vh;
}

p.why-name{
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 2vh;
}

p.why-description{
	font-size: 16px;
	line-height: 28px;
}

div.section#we{
	background-image: linear-gradient(180deg, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(img/we-bg.jpg);
	background-size: cover;
	background-position: center 0;
}

p#we-h{
	font-size: 70px;
	font-weight: 600;
	margin-bottom: 0;
}

p#we-p{
	font-size: 20px;
	width: 75vw;
	margin: 0 auto 7vh;
}

div.we-col{
	background-color: rgba(255, 255, 255, .9);
	box-shadow: 0 0 20px 3px rgba(255, 255, 255, .4);
	border-radius: 10px;
	padding: 2vh 2vw;
}

img.we-img{
	display: block;
	width: 50%;
	margin: 0 auto 2vh;
	border-radius: 50%;
}

p.we-name{
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 0.5vh;
}

p.we-title{
	font-size: 16px;
	margin-bottom: 2vh;
}

a.we-facebook{
	display: block;
	width: 95%;
	margin: 0 auto;
	padding: 8px 0 6px;
	font-weight: 600;
	border-radius: 5px;
	background-color: #3B5998;
	color: #fff;
}

a.we-facebook:hover, a.we-facebook:active{
	color: #fff;
	opacity: 0.8;
}

div.section#contact{
	background-size: 230%;
	background-image: linear-gradient(180deg, rgba(255, 255, 255, .6), rgba(255, 255, 255, .6)), url(img/contact-bg.jpg);
	background-position: center 0;
}

p#contact-h{
	font-size: 70px;
	font-weight: 600;
	margin: 0;
}

p#contact-p{
	font-size: 25px;
	margin: 0 0 5vh;
}

form#contact-form{
	padding: 0 20vw;
	text-align: left;
}

form#contact-form label{
	font-size: 15px;
	font-weight: 400;
}

form#contact-form textarea{
	resize: none;
	height: 18vh;
}

div#contact-button{
	margin-top: 15px;
}

div.ui-loader{
	display: none;
}

/* Responsive */
/* Tablet */
@media (max-width: 991px){
	div.section#header{
		background-image: radial-gradient(circle, rgba(0, 0, 0, .8), rgba(0, 0, 0, .5), transparent), url(img/header-bg.jpg);
		background-size: 150%;
	}

	p.services-name{
		height: 60px;
		font-size: 20px;
		line-height: 30px;
	}

	p.services-description{
		font-size: 16px;
	}

	div.why-col{
		padding: 3vh 2vw 0;
	}

	img.why-icon{
		width: 13%;
		margin-bottom: 2vh;
	}

	p.why-name{
		font-size: 20px;
		margin-bottom: 1.5vh;
	}

	p.why-description{
		font-size: 15px;
		line-height: 25px;
	}

	p#contact-p{
		font-size: 23px;
	}
}

/* Big Phones */
@media (max-width: 767px){
	div.section#header{
		background-size: 200%;
	}

	p#header-h{
		font-size: 95px;
	}

	p#header-p{
		font-size: 40px;
	}

	a.header-link{
		margin: 0 25px;
	}

	p#services-h{
		font-size: 60px;
		margin-bottom: 10vh; 
	}

	div#services-row{
		position: relative;
		width: 100%;
		height: 50vh;
		margin: 0;
	}

	div.services-col{
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		transition: all 1s ease-in-out;
		height: 40vh;
		max-width: 43%;
		padding: 3vh 2vw;
	}

	div.services-col.left{
		transform: translateX(-115%) translateY(10vh);
		z-index: 9;
	}

	div.services-col.center{
		transform: translateX(-50%) scale(1.3);
		z-index: 19;
	}

	div.services-col.right{
		transform: translateX(15%) translateY(10vh);
		z-index: 9;
	}

	p.services-name{
		height: 50px;
		font-size: 15px;
		line-height: 25px;
		margin-bottom: 10px;
	}

	p.services-description{
		font-size: 13px;
		line-height: 17px;
		margin-bottom: 12px;
	}

	div#services-logos-row{
		height: 70px;
		margin-left: 0;
		margin-right: 0;
	}

	p#why-h{
		font-size: 60px;
		margin-bottom: 7vh;
	}

	div#why-row{
		position: relative;
		width: 100%;
		height: 55vh;
		margin: 0;
	}

	div.why-col{
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		transition: all 1s ease-in-out;
		height: 50vh;
		max-width: 43%;
		padding-top: 2vh;
	}

	div.why-col.left{
		transform: translateX(-115%) translateY(10vh);
		z-index: 9;
	}

	div.why-col.center{
		transform: translateX(-50%) scale(1.2);
		z-index: 19;
	}

	div.why-col.right{
		transform: translateX(15%) translateY(10vh);
		z-index: 9;
	}

	img.why-icon{
		margin-bottom: 1vh;
	}

	p.why-name{
		font-size: 18px;
		margin-bottom: 1vh;
	}

	p.why-description{
		font-size: 13px;
		line-height: 22px;
	}

	p#we-h{
	font-size: 60px;
	}

	p#we-p{
		font-size: 17px;
		width: 85vw;
		line-height: 28px;
	}

	p#we-row{
		margin: 0;
	}

	p.we-name{
		font-size: 18px;
		margin-bottom: 0;
	}

	p.we-title{
		font-size: 15px;
	}

	p#contact-h{
		font-size: 60px;
	}

	p#contact-p{
		font-size: 20px;
	}

	form#contact-form{
		padding: 0 15vw;
	}
}

/*Small Phones */
@media (max-width: 479px){
	nav.navbar{
		padding-left: 5vw;
		padding-right: 5vw;
	}

	div.section#header{
		background-size: 250%;
	}

	p#header-h{
		font-size: 75px;
	}

	p#header-p{
		font-size: 35px;
		line-height: 45px;
		margin-bottom: 40px;
	}

	a.header-link{
		margin: 0 10px;
		padding: 10px 20px;
		font-size: 17px;
	}

	p#services-h{
		font-size: 40px;
	}

	p.services-name{
		height: 40px;
		font-size: 13px;
		line-height: 20px;
	}

	p.services-description{
		font-size: 12px;
		margin-bottom: 10px;
	}

	p#why-h{
		font-size: 40px;
	}

	img.why-icon{
		width: 10%
	}

	p.why-name{
		font-size: 13px;
	}

	p.why-description{
		font-size: 11px;
		line-height: 20px;
	}

	p#we-h{
		font-size: 40px;
	}

	p#we-p{
		font-size: 15px;
		width: 80vw;
		line-height: 26px;
	}

	p#contact-h{
		font-size: 40px;
	}
}

/* Form & XS Rows Settings */
@media (max-width: 575px){
	div#services-logos-row{
		height: 100px;
	}

	p#contact-p{
		font-size: 18px;
	}

	form#contact-form{
		padding: 0 10vw;
	}

	.form-group{
		margin-bottom: 5px !important;
	}

	form#contact-form textarea{
		height: 15vh;
	}
}